grafana-docker-setup/node-red-data/.flows.json.backup
[
    {
        "id": "1045a0c06269d357",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4090a56a35fb8531",
        "type": "mqtt-broker",
        "name": "Raspberry Pi",
        "broker": "192.168.1.208",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cc7cfc788da92736",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Wind Turbine",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "4d812f472c56fc8b",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Test",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "4596a408e9ebef71",
        "type": "mqtt in",
        "z": "1045a0c06269d357",
        "name": "RPM",
        "topic": "wind_turbine/rpm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4090a56a35fb8531",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "723ed556a19a81af"
            ]
        ]
    },
    {
        "id": "4e3045b7b9eca4de",
        "type": "debug",
        "z": "1045a0c06269d357",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "723ed556a19a81af",
        "type": "function",
        "z": "1045a0c06269d357",
        "name": "RPM Function",
        "func": "// Attempt to parse the incoming msg.payload as a numeric value\nvar rpm_value = parseFloat(msg.payload);\n\n// Check if the value is a valid number (remove invalid entries)\nif (isNaN(rpm_value)) {\n    node.error(\"Invalid RPM value received: \" + msg.payload, msg);  // Log an error if not a number\n    return null;  // Stop further processing if the RPM value is invalid\n}\n\n// If it's a valid number, prepare the payload for InfluxDB\nmsg.payload = {\n    measurement: \"RPM_Measurement\",  // The measurement name in InfluxDB (must be valid)\n\n    rpm: rpm_value  // RPM value as a field (numeric)\n    };\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 300,
        "wires": [
            [
                "d44ddc4f6364cd24",
                "4e3045b7b9eca4de"
            ]
        ]
    },
    {
        "id": "d44ddc4f6364cd24",
        "type": "influxdb out",
        "z": "1045a0c06269d357",
        "influxdb": "cc7cfc788da92736",
        "name": "Wind Turbine",
        "measurement": "RPM Measurement",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TAMUCC",
        "bucket": "Test",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "d059d31bc7e59a32",
        "type": "inject",
        "z": "1045a0c06269d357",
        "name": "Start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 550,
        "y": 440,
        "wires": [
            [
                "414c9a9624884586"
            ]
        ]
    },
    {
        "id": "2f9faf2203c153ec",
        "type": "debug",
        "z": "1045a0c06269d357",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 540,
        "wires": []
    },
    {
        "id": "414c9a9624884586",
        "type": "function",
        "z": "1045a0c06269d357",
        "name": "function 1",
        "func": "msg.payload = {\n  measurement: \"WindTurbine\",  // Match the measurement name from your Python script\n  fields: {\n      rpm: 123.45  // The data you want to send (same as your Python script)\n  },\n  tags: {\n      sensor: \"hall_effect\"  // Optional tags\n  }\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 440,
        "wires": [
            [
                "2f9faf2203c153ec",
                "0ebc8cf5b3930d94"
            ]
        ]
    },
    {
        "id": "0ebc8cf5b3930d94",
        "type": "influxdb out",
        "z": "1045a0c06269d357",
        "influxdb": "cc7cfc788da92736",
        "name": "Test",
        "measurement": "rpm",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TAMUCC",
        "bucket": "WindTurbine",
        "x": 930,
        "y": 440,
        "wires": []
    }
]