grafana-docker-setup/node-red-data/flows.json
[
    {
        "id": "1045a0c06269d357",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4090a56a35fb8531",
        "type": "mqtt-broker",
        "name": "Raspberry Pi",
        "broker": "192.168.1.208",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cc7cfc788da92736",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Wind Turbine",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "4596a408e9ebef71",
        "type": "mqtt in",
        "z": "1045a0c06269d357",
        "name": "RPM",
        "topic": "wind_turbine/rpm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4090a56a35fb8531",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 240,
        "wires": [
            [
                "1e71140b29f85294"
            ]
        ]
    },
    {
        "id": "4e3045b7b9eca4de",
        "type": "debug",
        "z": "1045a0c06269d357",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "723ed556a19a81af",
        "type": "function",
        "z": "1045a0c06269d357",
        "name": "RPM Function",
        "func": "var rpm_value = parseFloat(msg.payload);  // Ensure the RPM is a numeric value\n\n// Create the JSON object for InfluxDB\nmsg.payload = {\n    measurement: \"RPM Measurement\",  // The measurement name in InfluxDB\n    fields: {\n        rpm: rpm_value  // RPM value as a field\n    },\n    tags: {\n        sensor: \"hall_effect\"  // Add tags like sensor type\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d44ddc4f6364cd24",
        "type": "influxdb out",
        "z": "1045a0c06269d357",
        "influxdb": "cc7cfc788da92736",
        "name": "Wind Turbine",
        "measurement": "Hall Sensor",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TAMUCC",
        "bucket": "WindTurbine_RealTime",
        "x": 1100,
        "y": 460,
        "wires": []
    },
    {
        "id": "1e71140b29f85294",
        "type": "change",
        "z": "1045a0c06269d357",
        "name": "Format",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.measurement",
                "pt": "msg",
                "to": "RPM Measurement",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.fields.rpm",
                "pt": "msg",
                "to": "msg.rpm",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.tags.sensor",
                "pt": "msg",
                "to": "hall effect",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "d44ddc4f6364cd24",
                "4e3045b7b9eca4de"
            ]
        ]
    }
]